$primary: #4CAF4F;
$secondary: #263238;
$info: #2194F3;

$success: #2E7D31;
$error: #E53835;
$warning: #FBC02D;

$white: #FFFFFF;
$silver: #F5F7FA;
$grey_blue: #ABBED1;
$grey: #717171;
$dark_grey: #4D4D4D;
$white_stroke: #ABBED1;
   
$sh1: #43A046;
$sh2: #388E3B;
$sh3: #237D31;
$sh4: #1B5E1F;
$sh5: #103E13;
    
$t2: #81C784;
$t3: #A5D6A7;
$t4: #C8E6C9;
$t5: #E8F5E9;

$s1: 0px 2px 4px 0px rgba(171, 190, 209, 0.6);
$s2: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
$s3: 0px 6px 12px 0px rgba(171, 190, 209, 0.3);
$s4: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
$s5: 0px 16px 32px 0px rgba(171, 190, 209, 0.4);
   